﻿@{

}
<style>

    h1 {
        color: blue;
    }

    p {
        color: white;
        font-size: 15px;
    }

    .ulList {
        color: white;
        font-size: 15px;
    }
</style>
<div>
    <div style="padding-top: 1%">
        <img src="~/images/AboutTitle.png" style="padding-left: 10%" />
        <div class="nadeemansari">
            <h3 style="color: white;">Education</h3>
            <p style="color: white; font-size: 15px;">Graduate Student - With razor sharp focus and nerves of steel</p>
            <p style="color: white; font-size: 15px;">Masters of Applied Computer Science</p>
            <a href="http://www.nwmissouri.edu/" style="font-size: 15px">Northwest Missouri State University</a>
            <br>
            <h3 style="color:white">Interests</h3>
            <ul class="ulList">
                <li>Gaming</li>
                <li>PC building enthusiast</li>
                <li>Rock Climbing</li>
            </ul>
            <h3 style="color: white">Achievements</h3>
            <ul class="ulList">
                <li>1st place Microsoft Yappon Coding Competition.</li>
                <li>Hacked my own wifi - took me 12 hours though.</li>
            </ul>
            <h3 style="color: white">Stalk me here</h3>
            <ul class="ulList">
                <li><a href="https://www.facebook.com/nadeemandroid">Facebook</a></li>
                <li><a href="https://www.linkedin.com/in/nadeem-ansari-2172699b?trk=hp-identity-name">LinkedIn</a></li>
                <li><a href="https://www.instagram.com/noo1actually/">Instagram</a></li>
            </ul>

        </div>
    </div>
</div>


