﻿@model ConverterAnsari.Models.Converter


<h2>@ViewData["Title"]</h2>

<div class="col-xs-12">
    <form asp-controller="Home" asp-action="Convert" method="post" class="form-horizontal" role="form">

        <div class="form-group">
            <label asp-for="ZipCode" class="control-label"></label>
            <input asp-for="ZipCode" class="form-control" />
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TemperatureF" class="control-label"></label>
            <input asp-for="TemperatureF" class="form-control" />
            <span asp-validation-for="TemperatureF" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Convert" class="btn btn-info" />
        </div>

    </form>
</div>
<h2>@ViewData["Result"]</h2>